<?xml version="1.0" encoding="UTF-8"?>




<beans xmlns="http://www.springframework.org/schema/beans"
   
   xmlns:p="http://www.springframework.org/schema/ps" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
   <bean id="std1" class="com.prog.Spring_Core.primitive.Student"  p:id="101" p:name="Mayuri" p:address="BHaruch">
   <!--  <property name="id" >
    <value>101</value>
    </property>
    
     <property name="name">
    <value>Mayuri</value>
    </property>
   
    <property name="address">
    <value>Bharuch</value>
    </property> -->
   
    </bean> 
    
     <bean id="std2" class="com.prog.Spring_Core.primitive.Student">
    <property name="id">
    <value>102</value>
    </property>
    
     <property name="name">
    <value>Vishal</value>
    </property>
   
    <property name="address">
    <value>Bharuch</value>
    </property>
   
    </bean>
  
    
    
    
    

</beans>